<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="menu">
            <li>
                <a class="Menulevel1" style="background-color: #020e5b;" href="~/Main/Index"><i class="fa fa-dashboard fa-fw"></i> <b>LỰC LƯỢNG THI CÔNG</b> <span class="fa arrow"></span></a></style>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="Menulevel2" style="background-color: #ccc; " href="~/LLTC/Index"><b>Tổng Quan LLTC</b> </a>
                    </li>
                    <li>
                        <a class="Menulevel2" style="background-color: #ccc; " href="~/LLTC/Create"> <b>Thêm/Chỉnh sửa ĐTC/NTP</b></a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="Menulevel1" style="background-color: #020e5b;" href="~/Main/Index"><i class="fa fa-bar-chart-o fa-fw"></i><b> CÔNG TRƯỜNG</b><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="Menulevel2" style="background-color: #ccc;" href="~/Main/Index">TỔNG QUAN CÔNG TRƯỜNG</a>
                    </li>
                    <li>
                        <a class="Menulevel2" style="background-color: #ccc; " href="~/Project/Index">THÊM/CHỈNH SỬA CÔNG TRƯỜNG</a>
                    </li>
                    <li>
                        <a class="Menulevel2" style="background-color: #ccc; " href="~/Catelory/Index">THÊM/CHỈNH SỬA ĐỘI TẠI CÔNG TRƯỜNG</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a class="Menulevel1" style="background-color: #020e5b;" href="~/WorkCount/Index" ><i class="fa fa-edit fa-fw"></i><b>CHẤM CÔNG</b></a>
            </li>    
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>