<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="menu">
            <li>
                <a class="Menulevel1" style="background-color: #07347E;" href="~/Main/Index"><i class="fa fa-dashboard fa-fw"></i> <b>LỰC LƯỢNG THI CÔNG</b> <span class="fa arrow"></span></a></style>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/LLTC/Index"><p class="fa fa-angle-double-right"> <b>Tổng Quan LLTC</b></p> </a>
                    </li>
                    <li>
                        <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/LLTC/Create"><p class="fa fa-angle-double-right"> <b>Thêm/Chỉnh sửa ĐTC/NTP</b></p></a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="Menulevel1" style="background-color: #07347E;" href="~/Main/Index"><i class="fa fa-bar-chart-o fa-fw"></i><b> CÔNG TRƯỜNG</b><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="Menulevel2" style="background-color: #F7F6FB;" href="~/Main/Index"><p class="fa fa-angle-double-right"> <b>Tổng quan công trường</b></p></a>
                    </li>
                    <li>
                        <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/Project/Index"><p class="fa fa-angle-double-right"> <b>Thêm/Chỉnh sửa Công trường</b></p></a>
                    </li>
                    <li>
                        <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/Catelory/Index"><p class="fa fa-angle-double-right"> <b>Thêm/Chỉnh sửa đội tại công trường</b></p></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a class="Menulevel1" style="background-color: #07347E;" href="~/WorkCount/Index"><i class="fa fa-edit fa-fw"></i><b>CHẤM CÔNG</b></a>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>