<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="~/Main/Index"><i class="fa fa-dashboard fa-fw"></i> LỰC LƯỢNG THI CÔNG <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/LLTC/Index"> TỔNG QUAN LLTC </a>
                    </li>
                    <li>
                        <a href="~/LLTC/Create"> THÊM/CHỈNH SỬA ĐTC/NTP</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Main/Index"><i class="fa fa-bar-chart-o fa-fw"></i> CÔNG TRƯỜNG <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/Main/Index">TỔNG QUAN CÔNG TRƯỜNG</a>
                    </li>
                    <li>
                        <a href="~/Project/Index">THÊM/CHỈNH SỬA CÔNG TRƯỜNG</a>
                    </li>
                    <li>
                        <a href="~/Catelory/Index">THÊM/CHỈNH SỬA ĐỘI TẠI CÔNG TRƯỜNG</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="~/WorkCount/Index"><i class="fa fa-edit fa-fw"></i>CHẤM CÔNG</a>
            </li>    
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>