<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
<connectionStrings><add name="OnlineShopDbContext" connectionString="data source=TECHNICAL02\SQL2012;initial catalog=OnlineShop;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>